.sponsors-container {
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 90%;
  /* background-color: rgba(250,250,250,0.1); */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style each row of sponsor images */
.sponsor-row {
  display: flex;
  justify-content: center; /* Centers the images in each row */
  margin-bottom: 10px;
}

/* Default style for images */
.sponsor-image {
  width: 10.75rem; /* Default size for large screens */
  height: auto;
  margin: 5px;
  object-fit: contain;
  transition: transform 0.3s;
}

.sponsor-image:hover {
  transform: scale(1.2);
}


@media (max-width: 1002px) { /* Smaller screens (like tablets) */
  .sponsor-row {
    flex-wrap: wrap; /* Wrap images to the next line on smaller screens */
  }
  .sponsor-image {
    width: 6.75rem; /* Smaller size for smaller screens */
  }
}

@media (max-width: 702px) { /* Smaller screens (like tablets) */
  .sponsor-row {
    flex-wrap: wrap; /* Wrap images to the next line on smaller screens */
  }
  .sponsor-image {
    width: 5.75rem; /* Smaller size for smaller screens */
  }
}

@media (max-width: 605px) { /* Smaller screens (like tablets) */
  .sponsor-row {
    flex-wrap: wrap; /* Wrap images to the next line on smaller screens */
  }
  .sponsor-image {
    width: 5rem; /* Smaller size for smaller screens */
  }
}



@media (max-width: 540px) { /* Very small screens (like phones) */
  .sponsor-image {
    width: 4.5rem; /* Further reduced size for very small screens */
  }
}
@media (max-width: 503px) { /* Very small screens (like phones) */
  .sponsor-image {
    width: 4rem; /* Further reduced size for very small screens */
  }
}