@media (min-width: 768px) {
    .d-md-block {
        display: none !important;
    }
}
@media (min-width: 1378px) {
    .d-md-block {
        display: block !important;
    }
}

.image-left,
.image-right {
    position: absolute;
}

.image-left {
    left: -70px; /* Adjust as needed */
    transform: rotate(-16deg); /* Adjust the angle as needed */
}

.image-right {
    right: -50px; /* Adjust as needed */
    transform: rotate(16deg); /* Adjust the angle as needed */
}