.caption {
  position: absolute;
  color: white;
  margin: 2rem;
}
/* Carousel images */
.carousel-item {
  height: 400px; /* Set a fixed height for the carousel */
  background-color: black; /* Black background if the image doesn't cover the entire container */
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensure image fits within the container and keeps its aspect ratio */
}

/* For mobile responsiveness */
@media (max-width: 768px) {
  .carousel-item {
    height: 300px; /* Decrease the height for smaller screens */
  }
  .caption {
    margin: 0.5rem;
  }
}
