body{
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient( 179.7deg,  #8ef5fa 1.1%, #ff337a 99% ); */
background: linear-gradient(90deg, rgba(133,131,172,1) 0%, rgba(104,185,238,1) 48%, rgba(255,102,130,1) 100%);
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.12s ease-in-out;
  }
  
  .page.fade-out {
    opacity: 0;
  }
  
  .page.fade-in {
    opacity: 1;
  }